<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.autocart">

    <uses-permission android:name = "android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/autocartlogo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/autocartlogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoCart">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AC_IngredientPage"
            android:exported="false" />
        <activity
            android:name=".AC_ShoppingPage"
            android:exported="false" />
        <activity
            android:name=".AC_SettingsPage"
            android:exported="false" />
        <activity
            android:name=".AC_AddIngredientPage"
            android:exported="false" />
        <activity
            android:name=".AC_RemoveIngredientPage"
            android:exported="false" />
        <activity
            android:name=".AC_AddShoppingPage"
            android:exported="false" />
        <activity
            android:name=".AC_RemoveShoppingPage"
            android:exported="false" />
        <activity
            android:name=".AC_ConfigPage"
            android:exported="false" />
        <activity
            android:name=".AC_FeedbackPage"
            android:exported="false" />
        <activity
            android:name=".AC_SupportPage"
            android:exported="false" />
        <activity
            android:name=".AC_BackgroundNotifcation"
            android:exported="true" />
        <service
            android:name = ".AC_NotificationService"
            android:label = "@string/app_name"
            android:exported = "true" >
            <intent-filter>
                <action
                    android:name = "com.example.autocart.NotificationService"/>
                <category android:name = "android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>